.mul-class {
    position: absolute;
    height: 1080px;
    width: 1920px;
    z-index: 100;
    background-color: #00000061;
    padding-top: 30vh;
}

.mulligan-cards {
    position: absolute;
    top: 30vh;
}