<!-- Hand -->
<div id="player-hand-1">
  <ul class="hand-cards">
    <!-- Each card -->
    <li class="card-in-hand" [ngStyle]="{'width':'75px', 'height': '100px'}">
      <img class="card-img-style" src="assets/cards/01DE001.png" alt="">
    </li>
    <li class="card-in-hand" [ngStyle]="{'width':'75px', 'height': '100px'}">
      <img class="card-img-style" src="assets/cards/01DE001.png" alt="">
    </li>
    <li class="card-in-hand" [ngStyle]="{'width':'75px', 'height': '100px'}">
      <img class="card-img-style" src="assets/cards/01DE001.png" alt="">
    </li>
  </ul>
</div>