<li class="spell-style"
    dragit
    id="spell-{{cardData.CardID}}"
    [cardData]='cardData'
    [ngStyle]="{'width':  cardData.Width + 'px',
                'height': cardData.Height + 'px',
                'left':   cardData.TopLeftX + 'px',
                'top':   cardData.TopLeftY + 'px'}">
  <img  class="spell-img-style"
        src="assets/cards/{{cardData.CardCode}}.png"
        draggable="false"
        (mouseover)="cardHovered ( $event )"
        (mouseout) ="cardUnHovered ( $event )" >
</li>