.spell-img-style {
    height: 100%;
    width: 100%;
    background-color: transparent;
    user-drag: none; 
    user-select: none;
    border-radius: 50%;
}

.spell-style {
    display: inline-block;
    position: absolute;
}